<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- all-properties.ejs -->

<!-- Iterate over apartments and display each apartment -->
<% apartments.forEach(apartment => { %>
    <div class="apartment">
      <h2><%= apartment.title %></h2>
      <p><%= apartment.description %></p>
      <p><%= apartment.price %></p>
      <p><%= apartment.phone %></p>
      <img src="<%= relativePath + apartment.apartmentsPhoto %>" alt="Apartment Photo">
      <!-- Add more HTML to display other apartment details -->
    </div>
  <% }) %>
  
</body>
</html>