<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Apartment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- 
    - favicon
    -->
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
</head>
<body>
  <style>
      .carousel {
            position: relative;
        }
        .download-btn {
            position: absolute;
            /* top: 10px; */
            right: 1px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 3px;
        }
        .carousel-item {
            position: relative;
            display: none;
        }
        .carousel-item.active {
            display: block;
        }
        .thumbnail-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        .thumbnail {
            width: 60px;
            height: 40px;
            margin: 0 5px;
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.3s;
        }
        .thumbnail:hover, .thumbnail.active {
            opacity: 1;
        }
  </style>

<div class="container mt-5 mx-auto">
    <div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><%= apartment.aid %> <%= apartment.location %></h1>
        <!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div> -->
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
              <button id="shareBtn" type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button id="exportBtn" type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
      </div>
        <div class="thumbnail-container">
          <% if (apartment.photoUrls && apartment.photoUrls.length > 0) { %>
              <% apartment.photoUrls.forEach((photoUrl, index) => { %>
                  <img src="<%= photoUrl %>" class="thumbnail <%= index === 0 ? 'active' : '' %>" data-index="<%= index %>" alt="Thumbnail">
              <% }) %>
          <% } %>
      </div>
    </div>

    <div class="col py-3">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard View</a></li>
                        <li class="breadcrumb-item"><a href="#"> Apartment</a></li>
                        <li class="breadcrumb-item active"><%= apartment.aid %></li>
                    </ol>
                </nav>
            </div>
            <div class="col text-end fw-lighter">
                <b>Last Updated <%= new Date(apartment.updatedAt).toUTCString() %> </b>
                <b>ApartmentId:</b> <%= apartment._id %>
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item"> 
            <div class="row">
                <div class="col" style="max-width: 140px"> <b>Apartment ID (AID):</b></div>
                <div class="col"><%= apartment.aid %></div>
            </div>
        </li>
        <li class="list-group-item"> 
            <div class="row">
                <div class="col" style="max-width: 140px"> <b>Type of Property:</b></div>
                <div class="col"><%= apartment.typeOfProperty %></div>
            </div>
          </li>
        <li class="list-group-item"> 
            <div class="row">
                <div class="col" style="max-width: 140px"> <b>Fullname</b></div>
                <div class="col"><%= apartment.createdBy %></div>
            </div>
        </li>
        <li class="list-group-item"> 
          <div class="row">
              <div class="col" style="max-width: 140px"> <b>Price:</b></div>
              <div class="col"><%= apartment.price %></div>
          </div>
      </li>
    

<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Status:</b></div>
      <div class="col"><%= apartment.status %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Duration:</b></div>
      <div class="col"><%= apartment.duration %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Phone Number:</b></div>
      <div class="col"><%= apartment.phone %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Location:</b></div>
      <div class="col"><%= apartment.location %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Area:</b></div>
      <div class="col"><%= apartment.area %></div>
  </div>
</li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Bedrooms</b></div>
      <div class="col"><%= apartment.bedrooms %></div>
  </div>
</li>
<li class="list-group-item"> 
    <div class="row">
        <div class="col" style="max-width: 140px"> <b>Bathrooms</b></div>
        <div class="col"><%= apartment.bathrooms %></div>
    </div>
  </li>
  <li class="list-group-item"> 
    <div class="row">
        <div class="col" style="max-width: 140px"> <b>Address</b></div>
        <div class="col"><%= apartment.address %></div>
    </div>
  </li>
  <li class="list-group-item"> 
    <div class="row">
        <div class="col" style="max-width: 140px"> <b>Address 2</b></div>
        <div class="col"><%= apartment.address2 %></div>
    </div>
  </li>
  <li class="list-group-item"> 
    <div class="row">
        <div class="col" style="max-width: 140px"> <b>Negotiation</b></div>
        <div class="col"><%= apartment.negotiation %></div>
    </div>
  </li>
  <li class="list-group-item"> 
    <div class="row">
        <div class="col" style="max-width: 140px"> <b>Avaliability</b></div>
        <div class="col"><%= apartment.availabilty %></div>
    </div>
  </li>
  <li class="list-group-item"> 
    <div class="row">
        <div class="col" style="max-width: 140px"> <b>Verification</b></div>
        <div class="col"><%= apartment.verification %></div>
    </div>
  </li>
<li class="list-group-item"> 
  <div class="row">
      <div class="col" style="max-width: 140px"> <b>Description:</b></div>
      <div class="col"><%= apartment.description %></div>
  </div>
</li>

<li class="list-group-item"> 
  <div class="row">
    <div class="col" style="max-width: 140px"> <b>Date Created:</b></div>
    <div class="col"><%= apartment.createdAt %></div>
  </div>
</li>

<li class="list-group-item"> 
  <div class="row">
    <div class="col" style="max-width: 140px"> <b>Date Modified:</b></div>
    <div class="col"><%= apartment.updatedAt %></div>
  </div>
</li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  // JavaScript code for exporting to Excel
  document.getElementById("exportBtn").addEventListener("click", function() {
      // Logic for exporting to Excel goes here
      // You can use a library like SheetJS (https://sheetjs.com/) for Excel export
  });
</script>
 <!-- Include html2pdf.js library -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
 <script src="/js/pdf.js"></script>
</body>
</html>