<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transactions Form</title>
    <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./css/form.css">
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
</head>
<body>

<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <h1>Update Transaction</h1>
<form action="/update-transactions/<%= transactions._id %>?_method=PATCH" method="POST">
      <div class="formbold-mb-3 formbold-input-wrapp">
        <label for="date" class="formbold-form-label"> Date: </label>
        <div>
          <input
            type="date"
            name="date"
            id="date"
            value="<%= transactions.date %>"
            class="formbold-form-input"
            required
          />
        </div>
      </div>

      <div class="formbold-mb-3 formbold-input-wrapp">
        <label for="aid" class="formbold-form-label">Apartment ID (AID) </label>
        <div>
          <input
            type="text"
            name="aid"
            id="aid"
            value="<%= transactions.aid %>"
            class="formbold-form-input"
            required
          />
        </div>
      </div>

      <div class="formbold-mb-3 formbold-input-wrapp">
        <label for="ownerName" class="formbold-form-label">Owner's Name </label>
        <div>
          <input
            type="text"
            name="ownerName"
            id="ownerName"
            value="<%= transactions.ownerName %>"
            class="formbold-form-input"
            
          />
        </div>
      </div>

      <div class="formbold-mb-3 formbold-input-wrapp">
        <label for="buyerName" class="formbold-form-label">Buyer's Name </label>
        <div>
          <input
            type="text"
            name="buyerName"
            id="buyerName"
            value="<%= transactions.buyerName %>"
            class="formbold-form-input"
            
          />
        </div>
      </div>

      <div class="formbold-mb-3 formbold-input-wrapp">
        <label for="tenantName" class="formbold-form-label">Tenant's Name </label>
        <div>
          <input
            type="text"
            name="tenantName"
            id="tenantName"
            value="<%= transactions.tenantName %>"
            class="formbold-form-input"
            
          />
        </div>
      </div>

      <div class="formbold-mb-3 formbold-input-wrapp">
        <label for="amount" class="formbold-form-label"> Amount: </label>
        <div>
          <input
            type="number"
            name="amount"
            id="amount"
            value="<%= transactions.amount %>"
            class="formbold-form-input"
            required
          />
        </div>
      </div>

      <input
        type="hidden"
        name="createdBy"
        value="<%= user.fullname  %>"
      />

      <input
        type="hidden"
        name="username"
        value="<%= user.username %>"
      />

      <div class="formbold-mb-3">
        <label for="comments" class="formbold-form-label">
            Comments
        </label>
        <textarea
          rows="6"
          name="comments"
          id="comments"
          class="formbold-form-input"
        ><%= transactions.comments %></textarea>
      </div>

      <button type="submit" class="formbold-btn">Done</button>
    </form>
  </div>
</div>
</body>
</html>
