<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homehub - Find your dream house</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
<style>
  .header-bottom-actions {
    display: flex;
    justify-content: center;
}

.header-bottom-actions-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none; /* Optional: remove underline */
    margin: 0 10px; /* Adjust spacing between buttons */
}

.header-bottom-actions-btn ion-icon {
    margin-bottom: 5px; /* Adjust as needed */
}

.file-input-container {
    display: grid;
    grid-template-columns: 1fr; /* One column for vertical alignment */
    gap: 10px; /* Adjust the gap between input elements */
  }

  .formbold-form-file {
    /* Add your styling for file inputs here */
    /* Example styles */
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%; /* Make inputs full width */
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
</style>
<style>
  .file-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between input elements */
  }

  .formbold-form-file {
    /* Add your styling for file inputs here */
    /* Example styles */
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%; /* Make inputs full width */
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }

  .file-name-placeholder {
    /* Add your styling for filename placeholders here */
    /* Example styles */
    margin-top: 5px;
    font-size: 14px;
    color: #666;
  }

  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .file-input-container {
      gap: 5px; /* Reduce the gap for smaller screens */
    }

    .formbold-form-file {
      /* Adjust styling for smaller screens */
      padding: 6px;
      font-size: 14px;
    }

    .file-name-placeholder {
      font-size: 12px; /* Reduce font size for smaller screens */
    }
  }

  .formbold-form-title {
    text-align: center;
    margin-bottom: 20px;
    font: 1.5em sans-serif;
  }

</style>
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
   <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./css/form.css">
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
</head>
<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">

          <!-- <li>
            <a href="mailto:info@homeverse.com" class="header-top-link">
              <ion-icon name="mail-outline"></ion-icon>

              <span>info@homeverse.com</span>
            </a>
          </li> -->

          <li>
            <a href="#" class="header-top-link">
              <!-- <ion-icon name="location-outline"></ion-icon> -->

              <span><%= greeting %>, <%= user ? user.role : '' %> | <%= user ? user.username : '' %></span>
            </a>
          </li>

        </ul>

        <div class="wrapper">
          <!-- <ul class="header-top-social-list">

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-telegram"></ion-icon>
              </a>
            </li>

          </ul> -->
          <form action="/logout" method="get">
          <button class="header-top-btn">
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>
          </form>
        </div>

      </div>
    </div>

    <div class="header-bottom">
      <div class="container">

        <!-- <a href="/home" class="logo">
          <img style="width: 50%;" src="./images/hub.jpg" alt="Homeverse logo">
        </a> -->

        <a href="/home" class="logo">
          <img src="/images/hub.png" alt="Homehub logo">
        </a>
        

        <nav class="navbar" data-navbar>

          <div class="navbar-top">

            <a href="#" class="logo">
              <img src="./images/hub.png" alt="Homeverse logo">
            </a>

            <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <div class="navbar-bottom">
            <ul class="navbar-list">

              <li>
                <a href="/home" class="navbar-link" data-nav-link>Home</a>
              </li>

              <li>
                <a href="/all-properties" class="navbar-link" data-nav-link>Apartments</a>
              </li>

              <li>
                <a href="/my-post" class="navbar-link" data-nav-link>My Posts</a>
              </li>

              <li>
                <a href="/service" class="navbar-link" data-nav-link>Service</a>
              </li>
<!-- 
              <li>
                <a href="/blog" class="navbar-link" data-nav-link>Blog</a>
              </li> -->

              <li>
                <a href="/contact" class="navbar-link" data-nav-link>Contact</a>
              </li>

            </ul>
          </div>

        </nav>

        <div class="header-bottom-actions">

          <button class="header-bottom-actions-btn" aria-label="Search"><a href="/search">
            <ion-icon name="search-outline"></ion-icon>
          </a>
            <span>Search</span>
          </button>

          <!-- <button class="header-bottom-actions-btn" aria-label="Profile">
            <ion-icon name="person-outline"></ion-icon>

            <span>Profile</span>
          </button> -->

          <a href="/view/<%= user._id %>" class="header-bottom-actions-btn" aria-label="Profile">
            <ion-icon name="person-outline"></ion-icon>
            <span>Profile</span>
          </a>

          <button class="header-bottom-actions-btn" aria-label="Cart">
            <ion-icon name="cart-outline"></ion-icon>

            <span>Cart</span>
          </button>

          <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
            <ion-icon name="menu-outline"></ion-icon>

            <span>Menu</span>
          </button>

        </div>

      </div>
    </div>

  </header>

  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <h1 class="formbold-form-title">Update Apartment</h1>
      <pre style="text-align: center; font: 0.6em sans-serif;">
        Enter the complete details of your property. 
        Make sure you input your correct informations, 
        we will get back to you as soon as possible.
      </pre>
      <form action="/update-apartments/<%= apartment._id %>?_method=PATCH" method="POST">
        <input type="hidden" name="aid" id="aid" class="formbold-form-input" />
  
        <div class="formbold-mb-3">
          <label for="title" class="formbold-form-label"> Title: </label>
          <input type="text" name="title" id="title" value="<%= apartment.title %>" class="formbold-form-input" />
        </div>
  
        <div class="formbold-mb-3">
          <label for="typeOfProperty" class="formbold-form-label"> Type of Property: </label>
          <select id="typeOfProperty" name="typeOfProperty" class="formbold-form-input">
            <option value="" disabled selected hidden>Select Type</option>
            <option value="Apartment" <%= apartment.typeOfProperty === 'Apartment' ? 'selected' : '' %>>Apartment</option>
          <option value="Land" <%= apartment.typeOfProperty === 'Land' ? 'selected' : '' %>>Land</option>
          <option value="Shop" <%= apartment.typeOfProperty === 'Shop' ? 'selected' : '' %>>Shop</option>
          <option value="Other" <%= apartment.typeOfProperty === 'Other' ? 'selected' : '' %>>Other</option>
          </select>
        </div>
  
        <div class="formbold-mb-3">
          <label for="price" class="formbold-form-label"> Price: </label>
          <input type="number" name="price" id="price" value="<%= apartment.price %>" class="formbold-form-input" />
        </div>
  
        <div class="formbold-mb-3">
          <label for="status" class="formbold-form-label"> Status: </label>
          <select id="status" name="status" class="formbold-form-input">
            <option value="" disabled selected hidden>Select Status</option>
          <option value="Sell" <%= apartment.status === 'Sell' ? 'selected' : '' %>>Sell</option>
          <option value="Rent" <%= apartment.status === 'Rent' ? 'selected' : '' %>>Rent</option>
          <option value="Least" <%= apartment.status === 'Least' ? 'selected' : '' %>>Least</option>
          <option value="Others" <%= apartment.status === 'Others' ? 'selected' : '' %>>Others</option>
          </select>
        </div>
  
        <div class="formbold-mb-3" id="durationField" style="display: none;">
          <label for="duration" class="formbold-form-label"> Duration: </label>
          <select id="duration" name="duration" class="formbold-form-input">
            <option value="" disabled selected hidden>Select Duration</option>
            <option value="/ Monthly">Monthly</option>
            <option value="/ Yearly">Yearly</option>
          </select>
        </div>
  
        <div class="formbold-mb-3">
          <label for="currency" class="formbold-form-label"> Currency: </label>
          <select id="currency" name="currency" class="formbold-form-input">
            <option value="" disabled selected>Select your currency</option>
            <option value="SLL">Sierra Leonean Leone (SLL)</option>
            <option value="USD">United States Dollar (USD)</option>
            <option value="GBP">British Pound Sterling (GBP)</option>
          </select>
        </div>
  
        <div class="formbold-mb-3">
          <label for="phone" class="formbold-form-label"> Phone: </label>
          <input type="text" name="phone" id="phone" value="<%= apartment.phone %>" class="formbold-form-input" />
        </div>
  
        <div class="formbold-mb-3">
          <label for="area" class="formbold-form-label"> Area: </label>
          <select id="area" name="area" class="formbold-form-input">
            <option value="" disabled selected hidden>Select Area</option>
            <option value="Western Area Urban" <%= apartment.area === 'Western Area Urban' ? 'selected' : '' %>>Western Area Urban</option>
            <option value="Western Area Rural" <%= apartment.area === 'Western Area Rural' ? 'selected' : '' %>>Western Area Rural</option>
            <option value="Others" <%= apartment.area !== 'Western Area Urban' && apartment.area !== 'Western Area Rural' ? 'selected' : '' %>>Others</option>
          </select>
        </div>
  
        <div class="formbold-mb-3">
          <label for="location" class="formbold-form-label"> Location: </label>
          <input type="text" name="location" id="location" value="<%= apartment.location %>" class="formbold-form-input" />
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="bedrooms" class="formbold-form-label"> Bedrooms: </label>
            <input type="number" name="bedrooms" id="bedrooms" value="<%= apartment.bedrooms %>" class="formbold-form-input" />
          </div>
          <div>
            <label for="bathrooms" class="formbold-form-label"> Bathrooms: </label>
            <input type="number" name="bathrooms" id="bathrooms" value="<%= apartment.bathrooms %>" class="formbold-form-input" />
          </div>
        </div>
  
        <div class="formbold-mb-3">
          <label for="negotiation" class="formbold-form-label"> Negotiation: </label>
          <select id="negotiation" name="negotiation" class="formbold-form-input">
            <option value="" disabled selected hidden>Select Negotiation</option>
            <option value="Negotiable">Negotiable</option>
            <option value="Non Negotiable">Non Negotiable</option>
          </select>
        </div>
  
        <div class="formbold-mb-3">
          <label for="address" class="formbold-form-label"> Address: </label>
          <input type="text" name="address" id="address" value="<%= apartment.address %>" class="formbold-form-input" />
          <input type="text" name="address2" id="address2" placeholder="Street address line 2" class="formbold-form-input" />
        </div>
  
        <div class="formbold-mb-3">
          <label for="createdBy" class="formbold-form-label"> Created By: </label>
          <input type="text" name="createdBy" value="<%= user.fullname %>" class="formbold-form-input" readonly />
        </div>
  
        <div class="formbold-mb-3">
          <label for="description" class="formbold-form-label"> Description: </label>
          <textarea rows="6" name="description" id="description" class="formbold-form-input" placeholder="Decribe your property..."><%= apartment.description %></textarea>
        </div>
  
        <div class="formbold-form-file-flex">
          <!-- <label for="photo" class="formbold-form-label"> Upload Image </label> -->
          <!-- <input type="file" name="photo" id="photo" class="formbold-form-file" multiple /> -->
          <!-- <input type="file" name="photo" class="formbold-form-file" required>
          <input type="file" name="photo1" class="formbold-form-file" required>
          <input type="file" name="photo2" class="formbold-form-file" required> -->
        </div>
  
        <!-- <div class="file-input-container">
          <input type="file" name="photo" class="formbold-form-file">
          <div class="file-name-placeholder" id="photo1-placeholder"></div>
        
          <input type="file" name="photo1" class="formbold-form-file">
          <div class="file-name-placeholder" id="photo2-placeholder"></div>
        
          <input type="file" name="photo2" class="formbold-form-file">
          <div class="file-name-placeholder" id="photo3-placeholder"></div>
        </div> -->
        
  
        <button type="submit" class="formbold-btn">Update Apartment</button>
      </form>
    </div>
  </div>
  <script>
    document.getElementById('status').addEventListener('change', function() {
      const durationField = document.getElementById('durationField');
      durationField.style.display = this.value === 'Rent' ? 'block' : 'none';
    });
  
    document.querySelector('form').addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(this);
  
      fetch('/create-apartment', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error('Error:', error));
    });
  </script>
  
  <script>
    const fileInputs = document.querySelectorAll('.formbold-form-file');
  
    fileInputs.forEach(input => {
      input.addEventListener('change', function() {
        const fileName = this.files[0].name;
        const placeholderId = this.dataset.placeholder.replace(/\s+/g, '-').toLowerCase() + '-placeholder';
        const placeholder = document.getElementById(placeholderId);
        
        if (fileName) {
          placeholder.textContent = fileName;
        } else {
          placeholder.textContent = 'No file chosen';
        }
      });
    });
  </script>
</body>
</html>